{% load i18n %}

{% block subject %}
Activate your EcommerceAPI account
{% endblock subject %}

{% block text_body %}
Hi {{ user.email }},

Welcome to EcommerceAPI!
To activate your account, visit the following link:
{{ protocol }}://{{ domain }}/activate/{{ uid }}/{{ token }}

If you did not sign up, just ignore this email.
{% endblock text_body %}

{% block html_body %}
<!DOCTYPE html>
<html>
  <body>
    <h1>Welcome to EcommerceAPI, {{ user.first_name }}!</h1>
    <p>
      To activate your account, please click
      <a href="{{ protocol }}://{{ domain }}/activate/{{ uid }}/{{ token }}">
        this link
      </a>.
    </p>
    <p>If you did not sign up, you can safely ignore this email.</p>
  </body>
</html>
{% endblock html_body %}
