{% load i18n %}

{% block subject %}
Your EcommerceAPI password has been changed
{% endblock subject %}

{% block text_body %}
Hi {{ user.email }},

This is a confirmation that your password was successfully changed.
If you did not perform this action, please contact support immediately.

Best regards,
The EcommerceAPI Team
{% endblock text_body %}

{% block html_body %}
<!DOCTYPE html>
<html>
  <body>
    <h1>Password Changed</h1>
    <p>
      Hi {{ user.email }},<br>
      This is a confirmation that your password has been <strong>successfully changed</strong>.
    </p>
    <p>
      If you did not perform this action, please <a href="{{ protocol }}://{{ domain }}/support">contact support</a> immediately.
    </p>
    <p>Best regards,<br>The EcommerceAPI Team</p>
  </body>
</html>
{% endblock html_body %}
