{% load i18n %}

{% block subject %}
Reset your EcommerceAPI password
{% endblock subject %}

{% block text_body %}
Hi {{ user.email }},

You requested a password reset.
Click the link below to choose a new password:
{{ protocol }}://{{ domain }}/password/reset/confirm/{{ uid }}/{{ token }}

If you didn’t request this, you can ignore this email.
{% endblock text_body %}

{% block html_body %}
<!DOCTYPE html>
<html>
  <body>
    <h1>Password reset request</h1>
    <p>
      Hi {{ user.email }},<br>
      You requested a password reset. Click
      <a href="{{ protocol }}://{{ domain }}/password/reset/confirm/{{ uid }}/{{ token }}">
        here
      </a> to set a new password.
    </p>
    <p>If you didn’t request this, please ignore this email.</p>
  </body>
</html>
{% endblock html_body %}
