{% extends "base_email.html" %}

{% block title %}Order Confirmation{% endblock %}

{% block content %}
      <p>
        Hello
        {% if order.user.first_name and order.user.last_name %}
          {{ order.user.first_name }} {{ order.user.last_name }}
        {% elif order.user.first_name %}
          {{ order.user.first_name }}
        {% elif order.user.last_name %}
          {{ order.user.last_name }}
        {% else %}
          {{ order.user.username }}
        {% endif %},
      </p>

      <p>
        Thank you for your order #{{ order.order_number }}.
      </p>

      <p>
        Please find your invoice attached to this email.
      </p>
{% endblock %}
