{% extends "base_email.html" %}

{% block title %}Order #{{ order.order_number }} Confirmation{% endblock title %}

{% block content %}
  <p>
    Hi {{ order.user.first_name|default:order.user.username }},
  </p>

  <p>Thank you for your order #{{ order.order_number }}.</p>

  <table>
    <thead>
      <tr>
        <th align="left">Product</th>
        <th align="left">Quantity</th>
        <th align="left">Unit price</th>
        <th align="left">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
      <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>€{{ item.price|floatformat:2 }}</td>
        <td>€{{ item.item_subtotal|floatformat:2 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p><strong>Total amount: €{{ order.total_amount|floatformat:2 }}</strong></p>
  <p>Please find your invoice attached to this email.</p>
{% endblock content %}
